*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/*/build
/*/generated
/*/out
/captures
.externalNativeBuild
*.swp
*~
.idea/*
*/*.class
*/target/*
**/*.tiled-session

./db-data
/db-data
/etcd0
/compose-data
/data

*android/libs/armeabi/
*android/libs/armeabi-v7a/
*android/libs/x86/
*android/gen/
*android/libs/
